header {
    background-color: color1;
    height: 100px;

    img {
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    #panel {
        width: 200px;
        height: 150px;
        // Doit avoir : changement mdp, nom prénom, déconexion. Si déco : connexion avec mdp et mail/pseudo
    }
}